<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Menú</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid nopad">
      
        <nav class="navbar navbar-default justify-content-center header">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          
            <a class="navbar-brand" href="../index.html">
              <img src="../img/logo.jpg" alt="logo">
            </a>


          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="../index.html">Inicio</a></li>
              <li ><a href="quienessomos.html">Quiénes Somos</a></li>
              <li class="activo active dropdown">
                <a href="menu.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú <span class="sr-only">(current)</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="menu.html">Desayunos y Meriendas</a></li>
                  <li><a href="menu.html">Almuerzos</a></li>
                  <li><a href="menu.html">Bebidas</a></li>
                  <li><a href="menu.html">Postres</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="cursos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="cursos.html">Pastelería Vegana Tradicional</a></li>
                  <li><a href="cursos.html">Curso Online Gratis</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="cursos.html">Próximamente: Cocina ZeroWaste</a></li>
                </ul>
              </li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
           
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container-fluid margIzq">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margArriba margAbajo">Desayunos y Meriendas</h2>
          </div>
        </div>
<!--
        <div class="row">
          <div class="col-md-4">
          <img src="../img/budinBanana.jpg" alt="Avocado Toast">
          <h3>Avocado Toast</h3>
          <p>Descripción</p>
        </div>
       
        <div class="col-md-4">
          <img src="../img/pancakes.JPG" alt="Waffles">
          <h3>Waffles</h3>
          <p>Descripción</p>
        </div>
        
        <div class="fcol-md-4">
          <img src="../img/facturas.JPG" alt="Facturas">
          <h3>Facturas</h3>
          <p>Descripción</p>
        </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margArriba margAbajo">Almuerzos</h2>
          </div>
        </div>
 -->
        <div class="row">
          <div class="col-md-4">
          <img src="../img/alfajor.JPG" alt="Alfajor de Dulce de Almendras">
          <h3>Alfajor de Dulce de Almendras</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-md-4">
          <img src="../img/barritas.JPG" alt="Barritas">
          <h3>Barritas</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-md-4">
          <img src="../img/pastaFrola.JPG" alt="Pastafrola">
          <h3>Pastafrola</h3>
          <p>Descripción</p>
        </div>
        </div>
<!--
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margArriba margAbajo">Bebidas</h2>
          </div>
        </div>
-->
        <div class="row"> 
          <div class="col-xs-12 col-md-4 col-lg-4">
          <img src="../img/pancakes.jpg" alt="Pancakes">
          <h3>Pancakes</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-xs-12 col-md-4 col-lg-4">
          <img src="../img/scon.jpg" alt="Scon de Queso de Cajú">
          <h3>Scon de Queso de Cajú</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-xs-12 col-md-4 col-lg-4">
          <img src="../img/facturas.jpg" alt="Facturas">
          <h3>Facturas</h3>
          <p>Descripción</p>
        </div>
        </div>
<!--
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margArriba margAbajo">Postres</h2>
          </div>
        </div>
      -->
        <div class="row">
          <div class="col-md-4">     
          <img src="../img/pepas.JPG" alt="Pepas">
          <h3>Pepas</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-md-4">
          <img src="../img/tortaBruce.JPG" alt="Torta de Chocolate">
          <h3>Torta Bruce</h3>
          <p>Descripción</p>
        </div>
        
        <div class="col-md-4">
          <img src="../img/tortaManzana.JPG" alt="Torta de Manzana y Crema Pastelera">
          <h3>Torta de Manzana y Crema Pastelera</h3>
          <p>Descripción</p>
        </div>
        </div>
      </div>


      <div class="row margArriba">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <fieldset class="redes">
           <legend>Nuestras Redes #LoveBased</legend>
           <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.instagram.com/vica.plantbased" target="blank">                
                  <img class="ig" src="../img/logoInstagram.png" alt="instagram">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="fb" href="https://www.facebook.com" target="blank">
                  <img src="../img/logoFacebook.png" alt="facebook">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.youtube.com" target="blank">
                  <img class="yt" src="../img/logoYoutube.png" alt="youtube">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.tripadvisor.com" target="blank">
                  <img class="ta" src="../img/logoTripadvisor.png" alt="tripadvisor">
                </a>
              </div>
            </div>  
          </fieldset>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>