<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quiénes Somos</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid nopad">
     
      <nav class="navbar navbar-default justify-content-center header">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          
            <a class="navbar-brand" href="../index.html">
              <img src="../img/logo.jpg" alt="logo">
            </a>


          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="../index.html">Inicio</a></li>
              <li class="active"><a class="activo" href="quienesSomos2.html">Quiénes Somos <span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="menu2.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="menu.html">Desayunos y Meriendas</a></li>
                  <li><a href="menu.html">Almuerzos</a></li>
                  <li><a href="menu.html">Bebidas</a></li>
                  <li><a href="menu.html">Postres</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="cursos2.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="cursos.html">Pastelería Vegana Tradicional</a></li>
                  <li><a href="cursos.html">Curso Online Gratis</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="cursos.html">Próximamente: Cocina ZeroWaste</a></li>
                </ul>
              </li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
           
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


<div class="row">
  <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filo">Nuestra Filosofía</h1>
</div>
<div class="row">
  <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justif margAbajo">Desde el inicio de Vica, siempre fué imaginada como mucho más que una cafetería. 
      Para empezar, tenemos una filosofía de vida como personas detras de la marca: el veganismo. Nuestra carta es 100% plant based para que en cada bocado no sólo seas felíz vos, sino también el universo entero. Creemos en que un mundo más justo comienza por cada grano de arena que uno pueda aportar. Vica es nuestro espacio de activismo a partir de la gastronomía, aportando a romper mitos sobre la comida basada en plantas.
      Nos gusta comer rico pensando más allá del plato. 
      Somos solidarios, compañeros, soñadores y trabajadores. Amamos lo que hacemos y queremos que este amor llegue a cada uno de ustedes a través de lo que hacemos.</p>
</div>


<div class="row">

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="../img/camila.jpg" alt="foto camila">
      <div class="caption">
        <h3>Camila</h3>
        <p>Comenzó con su emprendimiento Think Vegan (luego sería Vica) a los 14 años vendiendo en ferias. Cinco años después, logró inaugurar su local para cubrir la demanda del faltante de un lugar para comer sabroso, dulce y plant based en la Ciudad de Buenos Aires. Actualmente estudia en Crudo clases, en el EAG pastelería tradicional y no deja de incursionar en el mundo de la pastelería vegana de manera autodidacta. Próximamente planea estudiar en Barcelona. Ama lo que hace y en sus creaciones pone todo su corazón</p>
        <p class="row">
          <a class="col-md-6" href="http://www.instagram.com" target="blank"><img src="../img/logoInstagram.png" alt="Instagram de Camila"></a>
          <a class="col-md-6" href="http://www.linkedin.com" target="blank"><img src="../img/logolinkedin.png" alt="Linked In de Camila"></a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="../img/sofia.png" alt="foto sofia">
      <div class="caption">
        <h3>Sofia</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maxime quibusdam ipsa quia repudiandae? Odit cumque, non, voluptate minus consequatur facere expedita officia possimus quo a amet doloremque error soluta.</span>
        <span>Nisi eligendi quaerat minima vero dolores reiciendis accusamus magni omnis nemo et, quo, voluptatum non, quasi id fugit velit laudantium molestiae eveniet. Incidunt iusto et deserunt aperiam, illum maxime molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis qui, cumque repudiandae. </span></p>
        <p class="row">
          <a class="col-md-6" href="http://www.instagram.com" target="blank"><img src="../img/logoInstagram.png" alt="Instagram de Sofia"></a>
          <a class="col-md-6" href="http://www.linkedin.com" target="blank"><img src="../img/logolinkedin.png" alt="Linked In de Sofia"></a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="../img/bautista.png" alt="foto bautista">
      <div class="caption">
        <h3>Bautista</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ab laboriosam labore molestias molestiae in, esse at expedita nobis excepturi sed laborum culpa similique ut quaerat aperiam. Aspernatur, ad rerum!</span><span>Perferendis officiis culpa animi ducimus, ipsa temporibus a itaque iste, perspiciatis amet enim. Similique eos perspiciatis sunt eligendi exercitationem dolores, ad at. Aspernatur accusamus adipisci, veritatis natus! Laudantium, doloremque ad? Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></p>
        <p class="row">
          <a class="col-md-6" href="http://www.instagram.com" target="blank"><img src="../img/logoInstagram.png" alt="Instagram de Bautista"></a>
          <a class="col-md-6" href="http://www.linkedin.com" target="blank"><img src="../img/logolinkedin.png" alt="Linked In de Bautista"></a></p>
      </div>
    </div>
  </div>

</div>






    <div class="row">
        <div class=" nopad col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <fieldset class="redes">
           <legend>Nuestras Redes #LoveBased</legend>
           <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.instagram.com/vica.plantbased" target="blank">                
                  <img class="ig" src="../img/logoInstagram.png" alt="instagram">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="fb" href="https://www.facebook.com" target="blank">
                  <img src="../img/logoFacebook.png" alt="facebook">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.youtube.com" target="blank">
                  <img class="yt" src="../img/logoYoutube.png" alt="youtube">
                </a>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                <a href="https://www.tripadvisor.com" target="blank">
                  <img class="ta" src="../img/logoTripadvisor.png" alt="tripadvisor">
                </a>
              </div>
            </div>  
          </fieldset>
        </div>
      </div>


    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>